*, *::after, *::before {
    box-sizing: border-box;
  }

//   charts
.box{
    margin: 2%;
    border-radius: 14px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1px 12px;
    background: rgba(182, 96, 85, 0.13);
    backdrop-filter: blur(8px);
}
.box:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
}
.box h2{
    margin-left: 8%;
}
.statics{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
$donut-slices: (
    first: #FF6838,
    second: #FFC820,
    third: #97C95C,
    fourth: #1CB2F6,
    fifth: #1685B8,
    sixth: #e6df5d,
    seventh:#ff3838
);

.donut {
    
    --donut-size: 250px;
    --donut-border-width: 18px;

    --donut-spacing: 1;
    --donut-spacing-color: 255, 200, 255;
    --donut-spacing-deg: calc(1deg * var(--donut-spacing));

    border-radius: 50%;
    height: var(--donut-size);
    margin: 40px;
    position: relative;
    width: var(--donut-size);
}

.donut__label {
    left: 50%;
    line-height: 1.5;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.donut__label__heading {
    font-size: 24px;
    font-weight: 600;
}

.donut__label__sub {
    color: #b66055d9;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
}

.donut__slice {
    height: 100%;
    position: absolute;
    width: 100%;
}

.donut__slice::before,
.donut__slice::after {
    border: var(--donut-border-width) solid rgba(0,0,0,0);
    border-radius: 50%;
    content: '';
    height: 100%;
    left:0;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 100%;
}

.donut__slice::before {
    border-width: calc(var(--donut-border-width) + 1px);
    box-shadow: 0 0 1px 0 #{'rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)))'};
}

$slides-concat: '';

@each $slice in $donut-slices {
    $name: nth($slice, 1);
    $color: nth($slice, 2);
    $i: index($donut-slices, $slice);

@if $i > 1 {
    .donut__slice__#{$name} {
    --#{$name}-start: calc(#{$slides-concat});
    --#{$name}-check: max(calc(var(--#{$name}-start) - .5), 0);
    clip-path: inset(0 calc(50% * (var(--#{$name}-check) / var(--#{$name}-check))) 0 0);
    }
}
@else {
    .donut__slice__#{$name} {
    --#{$name}-start: 0;
    }
}

.donut__slice__#{$name}::before {
    border-top-color: #{'rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)))'};
    transform: rotate(calc(360deg * var(--#{$name}-start) + 45deg));
}

.donut__slice__#{$name}::after {
    border-top-color: rgba($color, 1);
    border-right-color: rgba($color, calc(100 * (var(--#{$name}) - .25)));
    border-bottom-color: rgba($color, calc(100 * (var(--#{$name}) - .5)));
    border-left-color: rgba($color, calc(100 * (var(--#{$name}) - .75)));
    transform: rotate(calc(360deg * var(--#{$name}-start) + 45deg + var(--donut-spacing-deg)));
}

@if $i == 1 {
    $slides-concat: var(--#{$name});
}
@else {
    $slides-concat: $slides-concat + ' + ' + var(--#{$name});
}
}

  @media screen and (max-width: 900px) {
    .donut {
        --donut-size: 180px;
        --donut-border-width: 10px;
        --donut-spacing: 0.5;
        }
    .donut__label__heading {
        font-size: 18px;
        font-weight: 600;
        }
        
        .donut__label__sub {
        color: #666666;
        font-size: 12px;
        letter-spacing: 0.05em;
        }
    .box h2{
        font-size: 22px;
    }
  }

