
html, body {
  scrollbar-width: none;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body{
  background-color: #a8aeb431;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main {
  flex-grow: 1;
  margin-top: 10%;
}
/* Header */
.nav-bar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 5px 7x;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btnbox{
  padding: 3%;
  text-align: center;
}
/* Logo */
.logobox{
  padding: 3%;
  text-align: center;
}
.logo h1{
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 45px;
  color: #363535;
}
/* Menu */
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0px;
}

nav ul li {
  margin: 0 15px;

}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color:  #fea486;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(255, 255, 255, 0.17);
}

.dropdown-content p {
  border-bottom: rgba(162, 159, 159, 0.559) solid 1px;
  margin: 0%;
  padding: 10px;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: bold;
}

.dropdown-content p:hover {
  background-color: #fadfd5;
  border-radius: 8px;
}
.dropdown:hover .dropdown-link,
.dropdown-content a.active .dropdown-link {
  color:  #fea486;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* button Header */
.slin {
  padding: 8px 16px;
  border: 1px solid  black;
  background-color: #fff;
  color:  black;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
}
.buttons button:hover,
.buttons a.active button{
  color: #fff;
  background-color:  #363535;
}
.activebtn{
  padding: 8px 16px;
  border: 1px solid  black;
  background-color: black;
  color:  #fff;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
}
/* Footer */
.footer {
  width: 100%;
  margin-top: 8%;
  background-color: #212121;
  color: #dad8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.footer .left{
  width: 700px;

}
.footer .h3{
  margin-left: 30%;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 25px;
}
.footer .par{
  margin-left: 10%;
  max-width: 400px;
  font-family: monospace;
  font-size: 14px;

}
.footer .copyright{
  margin: 3%;
  margin-left: 10%;
  font-size: 14px;

}
.footer .right{
  margin: 4%;
  margin-top: 8%;
  font-size: 14px;

}
.footer .icons{
  margin-top: 3%;
  float: right;
}
.icon{
  margin: 6px;
  transition: transform 0.3s ease;

}
.icon:hover{
  transform: translateY(-2px);
    fill: white;
}
@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 5px 0;
  }

  button {
    margin: 10px 5px 0 0;
  }
}
.main{
  margin-top: 10%;
}
.form-body{
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f9fa;
  display: flex;
  padding: 20px 25px;
  width: 65%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form{
  width: 50%;
  margin-left: 10%;
  text-align: center;
}
.form h2{
  font-size: 25px;
}
.form input{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.inputsFields{
  margin-top: 20%;
  margin-bottom: 5%;
}
.form input[type="text"], input[type="password"], input[type="email"]{
  width: 80%;
  height: 35px;
  margin: 2%;
  margin-left: 5%;
  border: none;
  border-radius: 8px;
}
.form input:focus{
  border: 0.5px solid #c48982;
  outline: none;
  box-shadow: 0 0 5px #B66055;
}
.form button{
  margin: 5%;
  padding: 5px 12px;
  max-width: 30%;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #B66055;
  color: #f8f9fa;
  border-radius: 8px;
}
.form label {
  margin-right: 50%;
  width: 100%;
  font-size: 11px;
}
.error{
  font-size: 12px;
  color: red;
  text-align: left;
}